<div class="container">
  <div
    class="contacts__main-office-map"
    id="mainOfficeMap"

    data-map-center-longitude="52.117711"
    data-map-center-latitude="23.876484"
    data-longitude="52.117711"
    data-latitude="23.876484"
    data-address="Беларусь, 225003, Брестская область, Брестский р-н, Тельминский с\с, 7"
    data-tel="+78005000600"
    data-tel-formatted="8 800 5000 600"
    data-working-time="Пн-Пт, с 10:00 до 22:00"
  >
    {{!-- Яндекс Карта в футере с центральным офисом. --}}
    {{!-- Данные берутся из data-атрибутов --}}
  </div>
</div>