<div class="container">
  <nav class="breadcrumbs">
    <ul class="breadcrumbs__list">
      {{#each links}}
        <li class="breadcrumbs__list-item">
          <a class="breadcrumbs__link" href="#">{{this}}</a>
        </li>
      {{/each}}
    </ul>
  </nav>
</div>