<div class="burger-menu" id="js-init-burger-menu">
    <div class="container">
        <div class="burger-menu__inner">

            <button class="burger-menu__close-btn" type="button" title="Закрыть">X</button>

            <a class="burger-menu__logo-link" href="index.html" title="На главную">
                <img class="burger-menu__logo" src="img/logo-light.svg" alt="Лого">
            </a>

            <ul class="burger-menu__list">
                <li class="burger-menu__list-item">
                    <span class="burger-menu__catalog-header">Каталог</span>
                    <ul class="burger-menu__catalog-list">
                        <li class="burger-menu__catalog-item">
                            <a class="burger-menu__catalog-link" href="catalog.html">Сайдинг</a>
                        </li>
                        <li class="burger-menu__catalog-item">
                            <a class="burger-menu__catalog-link" href="catalog.html">Фасадные панели</a>
                        </li>
                        <li class="burger-menu__catalog-item">
                            <a class="burger-menu__catalog-link" href="catalog.html">Водосток</a>
                        </li>
                        <li class="burger-menu__catalog-item">
                            <a class="burger-menu__catalog-link" href="catalog.html">Вентиляция</a>
                        </li>
                        <li class="burger-menu__catalog-item">
                            <a class="burger-menu__catalog-link" href="catalog.html">Снегозадержатели</a>
                        </li>
                        <li class="burger-menu__catalog-item">
                            <a class="burger-menu__catalog-link" href="catalog.html">Доборные элементы</a>
                        </li>
                    </ul>
                </li>
                
                <li class="burger-menu__list-item">
                    <a class="burger-menu__link" href="gallery.html">Галерея</a>
                </li>
                <li class="burger-menu__list-item">
                    <a class="burger-menu__link" href="#">Калькулятор</a>
                </li>
                <li class="burger-menu__list-item">
                    <a class="burger-menu__link" href="library.html">Библиотека</a>
                </li>
                <li class="burger-menu__list-item">
                    <a class="burger-menu__link" href="about.html">О нас</a>
                </li>
                <li class="burger-menu__list-item">
                    <a class="burger-menu__link" href="contacts.html">Где купить</a>
                </li>
            </ul>
        </div>
    </div>
</div>