<div class="catalog-menu">
  <button class="catalog-menu__btn">
    <svg class="catalog-menu__btn-icon">
      <use xlink:href="#catalog-menu-icon">
    </svg>
    <span class="catalog-menu__btn-label">Каталог</span>
  </button>
</div>