<div class="catalog-menu">
  <a class="catalog-menu__btn" href="catalog.html">
    <svg class="catalog-menu__btn-icon">
      <use xlink:href="#burger">
    </svg>
    <span class="catalog-menu__btn-label">Каталог</span>
  </a>
</div>