<div class="catalog-menu">
  <button class="catalog-menu__btn" type="button">
    <svg class="catalog-menu__btn-icon">
      <use xlink:href="#burger">
    </svg>
    <span class="catalog-menu__btn-label">Каталог</span>
  </button>
  <ul class="catalog-menu__list">
    <li class="catalog-menu__item">
      <a class="catalog-menu__link" href="catalog.html">Сайдинг</a>
    </li>
    <li class="catalog-menu__item">
      <a class="catalog-menu__link" href="catalog.html">Фасадные панели</a>
    </li>
    <li class="catalog-menu__item">
      <a class="catalog-menu__link" href="catalog.html">Водосток</a>
    </li>
    <li class="catalog-menu__item">
      <a class="catalog-menu__link" href="catalog.html">Вентиляция</a>
    </li>
    <li class="catalog-menu__item">
      <a class="catalog-menu__link" href="catalog.html">Снегозадержатели</a>
    </li>
    <li class="catalog-menu__item">
      <a class="catalog-menu__link" href="catalog.html">Доборные элементы</a>
    </li>
  </ul>
</div>