<a class="file-card" href="assets/documents/pdf-example.pdf" title="Скачать" target="_blank" download>
  <span class="file-card__label">{{this.label}}</span>
  <h3 class="file-card__name">{{this.name}}</h3>
  <div class="file-card__icon-container">
    <svg class="file-card__icon">
      <use xlink:href="#download">
    </svg>
  </div>
</a>