<div class="form-filter">
  <ul class="form-filter__list js-form-filter">
    {{#each filterLinks}}
      <li class="form-filter__item">
        <a class="form-filter__link" href="#">{{this}}</a>
      </li>
    {{/each}}
  </ul>
</div>