<header class="page-header header{{#if headerIsOver}} header--light{{/if}}">
    <div class="container">
        <div class="header__inner">
            <button class="header__burger" type="button">
                <svg class="header__burger-icon">
                    <use xlink:href="#burger">
                </svg>
                <span class="header__burger-label">Меню</span>
            </button>

            <div class="header__navigation">

                <a class="header__logo-link" href="index.html" title="На главную">
                    <img class="header__logo" src="img/logo-dark.png" alt="Лого">
                </a>

                {{> catalog-menu}}

                <nav class="header__menu">
                    <ul class="header__list">
                        <li class="header__list-item">
                            <a class="header__menu-link" href="gallery.html">Галерея</a>
                        </li>
                        <li class="header__list-item">
                            <a class="header__menu-link" href="#">Калькулятор</a>
                        </li>
                        <li class="header__list-item">
                            <a class="header__menu-link" href="library.html">Библиотека</a>
                        </li>
                        <li class="header__list-item">
                            <a class="header__menu-link" href="about.html">О нас</a>
                        </li>
                        <li class="header__list-item">
                            <a class="header__menu-link" href="contacts.html">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="header__contacts">
                <a class="header__telephone-mobile" href="tel:+79865647678" title="Позвонить">
                    <svg class="header__telephone-mobile-icon">
                        <use xlink:href="#phone">
                    </svg>
                </a>

                <a class="header__telephone" href="tel:+79865647678" title="Позвонить">+7 986 564 76 78</a>

                <a class="header__write-to-us" href="#">Написать нам</a>
            </div>
        </div>
    </div>
</header>