<form class="form-load-more" name="loadMore" method="GET">
  <button class="form-load-more__submit" type="submit">
    <svg class="form-load-more__submit-icon">
      <use xlink:href="#loading">
    </svg>
    <span class="form-load-more__submit-label">Показать еще</span>
  </button>
</form>