<div class="hystmodal" id="myModal" aria-hidden="true">
    <div class="hystmodal__wrap">
        <div class="hystmodal__window" role="dialog" aria-modal="true">
            <button data-hystclose class="hystmodal__close">Закрыть</button>
            <div class="modal-form-question">
              <form class="form modal-form-question__form" name="modal-form-question" data-need-validation>
                <fieldset class="form__inputs modal-form-question__inputs">
                  <label for="name">
                    <input class="form__input modal-form-question__input" placeholder="Как к Вам обращаться?" type="text" name="name" id="name" required>
                  </label>
                  <label for="phone">
                    <input class="form__input modal-form-question__input js-phone-input" placeholder="Укажите номер телефона" type="tel" name="phone" id="phone" required data-parsley-phone>
                  </label>
                  <label for="email">
                    <input class="form__input modal-form-question__input" placeholder="E-mail" type="email" name="email" id="email" required>
                  </label>
                </fieldset>
                <div class="modal-form-question__submit-block">
                  <button class="form__submit modal-form-question__submit" type="submit">
                    <span class="modal-form-question__submit-label">Отправить</span>
                    <svg class="modal-form-question__submit-icon">
                      <use xlink:href="#right-arrow">
                    </svg>
                  </button>
                  <span class="form__policy">Нажимая кнопку отправить Вы соглашаетсь с <a href="#" class="form__policy-link">Политикой обработки персональных данных</a></span>
                </div>
              </form>
              <div class="form__success-block">
                <span class="form__success-block-label">Спасибо, ваша заявка принята! <br> Мы свяжемся с вами в ближайшее время.</span>
                <button class="form__success-block-again-btn" type="button">Отправить снова</button>
              </div>
            </div>
        </div>
    </div>
</div>