{{#extend "layout"}}
{{#content "main"}}

{{> breadcrumbs }}

<div class="container">
  <h1 class="page__main-title">Библиотека документов</h1>
</div>

{{!-- Создаём секции динамически, данные берутся из файла json --}}
{{#each fileCards}}
  <section class="file-cards">
    <div class="container">
      <div class="file-cards__inner">
        <h2 class="file-cards__title">
          <svg class="file-cards__title-icon">
            <use xlink:href="#slash">
          </svg>
          <span class="file-cards__title-text">{{this.sectionName}}</span>
        </h2>

        <ul class="file-cards__list">
          {{#each this.cards}}
            <li class="file-cards__list-item">
              <a class="file-card" href="#" title="Скачать" target="_blank">
                <span class="file-card__label">{{this.label}}</span>
                <h3 class="file-card__name">{{this.name}}</h3>
                <div class="file-card__icon-container">
                  <svg class="file-card__icon">
                    <use xlink:href="#download">
                  </svg>
                </div>
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </section>
{{/each}}

{{> form-question }}

{{/content}}
{{/extend}}