{{#extend "layout"}}
{{#content "main"}}

{{!-- Создаём секции динамически, данные берутся из файла json --}}
{{#each fileCards}}
  <section class="file-cards">
    <div class="container">
      <div class="file-cards__inner">
        <h2 class="file-cards__title">
          <svg class="file-cards__title-icon">
            <use xlink:href="#slash">
          </svg>
          <span class="file-cards__title-text">{{this.sectionName}}</span>
        </h2>

        <ul class="file-cards__list">
          {{#each this.cards}}
            <li class="file-cards__list-item">
              {{> file-card }}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </section>
{{/each}}

{{/content}}
{{/extend}}