.container {
  width: 100%;
  max-width: calc(var(--max-container-width) + 2 * var(--content-padding));
  margin: 0 auto;
  padding: 0 var(--content-padding);
  @supports (width: max(20vw, 100px)) {
    padding-left: max(env(safe-area-inset-left, 1.4rem), var(--content-padding));
    padding-right: max(env(safe-area-inset-right, 1.4rem), var(--content-padding));
  }
}

.page-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &--with-header {
    padding-top: 9rem;
  }
}

.page__main-title {
  position: relative;

  padding-bottom: 4.3rem;
  margin-bottom: 0.4rem;
  margin-top: 4.3rem;

  @extend %fs-h1;

  &::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 0.2rem;

    border-radius: 999rem;

    background-color: #E2E2E2;
  }

  @include breakpoint(tablet) {
    padding-bottom: 3rem;
    margin-bottom: 0.4rem;
    margin-top: 3rem;
  }
  @include breakpoint(mobile) {
    padding-bottom: 2rem;
    margin-bottom: 0.4rem;
    margin-top: 2rem;
  }
}

// Блок с заголовком и хлебными крошками
// Возможно с картинкой на фоне
.page__title-block {
  &--with-banner {
    position: relative;

    padding: 7rem 4rem;
    margin-bottom: 5rem;

    border-radius: 0 4rem 0 4rem;

    overflow: hidden;

    @include breakpoint(tablet) {
      padding: 4rem 2rem;
    }
    @include breakpoint(small-tablet) {
      padding: 2rem 2rem 4rem;
    }

    .page__main-title {
      padding-bottom: 0;
      margin-bottom: 0;
      margin-top: 3.2rem;

      color: white;

      &::after {
        content: none;
      }
    }
  }
}

.page__banner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.page__banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0,0,0,0.4);
}

.page__title {
  display: flex;
  align-items: center;

  font-weight: 700;
  @extend %fs-h4;
  line-height: 1;
  text-transform: uppercase;
}

.page__title-icon {
  margin-right: 0.8rem;
  width: 1.7rem;
  height: 2.4rem;

  stroke: var(--accent-color);
  fill: none;
  stroke-width: 3;
}