.benifits-list {

  margin-bottom: 12.8rem;

  @include breakpoint(tablet) {
    margin-bottom: 6rem;
  }
  @include breakpoint(small-tablet) {
    margin-bottom: 3rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.8rem;

    @include breakpoint(desktop) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 2.4rem;
    }
    @include breakpoint(supersmall-mobile) {
      grid-template-columns: 1fr;
      column-gap: 0;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    @include breakpoint(desktop) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item-icon {
    flex-shrink: 0;
    
    margin-right: 2rem;

    &.red {
      fill: var(--accent-color);
    }

    @include breakpoint(desktop) {
      margin-right: 0;
      margin-bottom: 1.6rem;
    }
  }

  &__item-text {
  }

  &__item-name {
    margin-bottom: 0.8rem;

    font-weight: 800;
    line-height: 1.1;
    @include clamp(14, 18);
  }

  &__item-description {
    font-weight: 300;
    @include clamp(12, 18);
  }
}