.benifits-list {

  margin-bottom: 12.8rem;

  @include breakpoint(tablet) {
    margin-bottom: 6rem;
  }
  @include breakpoint(small-tablet) {
    margin-bottom: 3rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.8rem;

    &.narrow {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 4.2rem;

      @include breakpoint(small-mobile) {
        grid-template-columns: 1fr;
        row-gap: 2.4rem;
        column-gap: 0;
      }
    }

    @include breakpoint(desktop) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 2.4rem;
    }
    @include breakpoint(small-mobile) {
      grid-template-columns: 1fr;
      column-gap: 0;
    }
  }

  &__item {
    position: relative;

    padding-left: 8.8rem;

    @include breakpoint(desktop) {
      padding-left: 0;
      padding-top: 8.8rem;
    }
  }

  &__item-icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    &.red {
      fill: var(--accent-color);
    }

    @include breakpoint(desktop) {
      transform: translateY(0);
      top: 0;
    }
  }

  &__item-name {
    margin-bottom: 0.8rem;

    font-weight: 800;
    line-height: 1.1;
    @include clamp(14, 18);
  }

  &__item-description {
    font-weight: 300;
    @include clamp(12, 18);
  }
}