.catalog-menu {
  @include breakpoint (tablet) {
    display: none;
  }

  &__btn {
    display: flex;
    align-items: center;

    margin-left: 3.6rem;
    margin-right: 8rem;
    border-radius: 0.6rem;
    padding: 1.3rem 2.9rem;

    background-color: #FFF4DF;

    transition: background-color 0.3s ease;

    &:hover,
    &:focus {
      background-color: #fff4dfce;

      .catalog-menu__btn-label {
        color: var(--accent-color);
      }
    }
  }

  &__btn-icon {
    margin-right: 0.8rem;
    width: 1.8rem;
    height: 0.4rem;

    fill: none;
    stroke: var(--accent-color);
  }

  &__btn-label {
    @extend %fs-t2;
    
    transition: color 0.3s ease;
  }
}