.contacts {

  &__inner {
    display: grid;
    grid-template-columns: 45.2rem auto;
    column-gap: 0.4rem;

    margin-bottom: 0.8rem;

    @include breakpoint(tablet) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, auto);
      column-gap: 0;
      row-gap: 0.4rem;
    }
  }

  &__accordion {
    overflow-y: scroll;
    background-color: var(--back-color-3);

    @include customScrollbar();

    @include breakpoint(tablet) {
      grid-row: 2/3;
    }
  }

  &__distributors-map {
    position: relative;

    height: 76.8rem;

    @include breakpoint(tablet) {
      height: 60rem;
      grid-row: 1/2;
    }
    @include breakpoint(small-tablet) {
      height: 54rem;
    }
    @include breakpoint(mobile) {
      height: 60vh;
    }
  }

  &__distributors-map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    display: none;
    justify-content: center;
    align-items: center;

    background-color: rgba(0,0,0,0.5);

    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s ease;

    @include breakpoint(tablet) {
      display: flex;
    }

    &.hidden {
      visibility: hidden;
      opacity: 0;
    }
  }

  &__distributors-map-overlay-icon {
    width: 4rem;
    height: 4rem;

    fill: white;
  }

  &__main-office-map {
    height: 44.4rem;
    margin-bottom: 12.6rem;

    @include breakpoint(tablet) {
      margin-bottom: 8rem;
    }
    @include breakpoint(small-tablet) {
      margin-bottom: 6rem;
    }
    @include breakpoint(mobile) {
      margin-bottom: 4rem;
    }
  }
}