.distributors {
  --content-padding: 3rem;

  background-color: var(--back-color-3);
  overflow: hidden;

  &.hidden {
    display: none;
  }

  &.active {
    .distributors__header-button-icon {
      transform: rotate(180deg);
    }

    .distributors__city {
      color: var(--accent-color);
    }
  }

  &.filtered {
    .distributors__header {
      pointer-events: none;
      cursor: default;
    }

    .distributors__header-button-icon {
      display: none;
    }

    .distributors__city {
      color: var(--text-color);
    }
  }

  &__header {
    display: block;

    width: 100%;
    padding: var(--content-padding);

    border-bottom: 0.1rem solid #E3E3E3;

    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #f0f0f0;
    }

    &:focus {
      outline: none;
    }
  }

  &__header-inner {
    display: flex;
    justify-content: space-between;
  }

  &__header-content {
    padding-left: 2.4rem;

    position: relative;
  }

  &__header-button-icon {
    width: 1rem;
    height: 1.6rem;

    fill: #1F1F1F;

    transition: transform 0.3s ease;
  }

  &__city {
    font-weight: 700;
    @extend %fs-h5;
    text-transform: uppercase;

    transition: color 0.3s ease;
  }

  &__count {
    @extend %fs-t2;
  }

  &__header-icon {
    position: absolute;
    top: 0;
    left: 0;

    width: 1.7rem;
    height: 2.4rem;

    stroke: black;
    fill: none;
    stroke-width: 3;
  }

  &__list {
  }

  &__item {
    padding: 2rem var(--content-padding);

    border-bottom: 0.1rem solid #E3E3E3;

    cursor: pointer;
    transition: background-color 0.3s ease;

    &:last-of-type {
      border-bottom: none;
    }

    &:hover {
      background-color: #f0f0f0;
    }
  }

  &__btn {
  }

  &__item-name {
    margin-bottom: 1rem;

    @extend %fs-h5;
    font-weight: 600;
  }

  &__item-address {
    display: block;

    margin-bottom: 2rem;

    color: var(--back-color);
  }

  &__item-tel {
    display: flex;
    align-items: center;

    width: fit-content;
    margin-bottom: 1rem;
  }

  &__item-tel-icon {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0.8rem;

    fill: var(--accent-color);
  }

  &__item-tel-label {
    @extend %fs-h5;
    font-weight: 600;
  }

  &__item-working-time {
    display: block;

    color: var(--back-color);
  }
}