.file-cards {

  margin-top: 6rem;
  margin-bottom: 6rem;

  @include breakpoint(small-tablet) {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  &__inner {
  }

  &__title {
    display: flex;
    align-items: center;

    margin-bottom: 3.2rem;

    font-weight: 700;
    font-size: var(--fs-h2);
    line-height: 1;
    text-transform: uppercase;

    @include breakpoint(small-tablet) {
      margin-bottom: 2.4rem;
    }
  }

  &__title-icon {
    margin-right: 0.8rem;
    width: 1.7rem;
    height: 2.4rem;

    stroke: var(--accent-color);
    fill: none;
    stroke-width: 3;
  }

  &__title-text {

  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5.6rem;

    @include breakpoint(tablet) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 3rem;
      column-gap: 3rem;
    }
    @include breakpoint(small-tablet) {
      row-gap: 2rem;
      column-gap: 2rem;
    }

    @include breakpoint(small-mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__list-item {
  }
}