.form-load-more {

  margin-bottom: 12.4rem;

  @include breakpoint(tablet) {
    margin-bottom: 6rem;
  }
  @include breakpoint(mobile) {
    margin-bottom: 4rem;
  }

  &__submit {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1.8rem 0;
    width: 100%;

    background-color: #EFEFEF;
    border-radius: 0.8rem;
    transition: background-color 0.3s ease;

    &:hover, &:focus {
      background-color: rgba(#EFEFEF, 0.8);

      .form-load-more__submit-label {
        color: var(--accent-color);
      }
    }
  }

  &__submit-icon {
    margin-right: 0.9rem;
    width: 1.7rem;
    height: 2rem;

    fill: var(--accent-color);
  }

  &__submit-label {
    font-weight: 600;
    transition: color 0.3s ease;
  }
}