.form {
  &.send {
    display: none;
  }

  &__inputs {
  }

  &__input {
    position: relative;

    padding: 1rem 2rem;

    color: var(--text-color);
    border-bottom: solid 0.2rem var(--text-color);
    @extend %fs-t3;

    &::placeholder {
      color: var(--back-color-2);
    }
  }

  &__submit {
    padding: 1rem 2rem;

    background-color: black;
    color: white;

    &.disabled {
      background-color: rgba(0,0,0,0.8);
      cursor: default;
      pointer-events: none;
    }
  }

  &__policy {
    display: block;

    @extend %fs-s1;
    color: var(--back-color);
    text-align: center;
  }

  &__policy-link {
    display: inline;

    padding-bottom: 0.2rem;
    border-bottom: 0.1rem solid var(--back-color);
    transition: color 0.3s, border-bottom-color 0.3s ease;

    &:hover {
      border-bottom-color: #FF2204;
    }
  }

  &__success-block {
    display: none;

    &.visible {
      display: block;
    }
  }

  &__success-block-label {
    display: block;

    margin-bottom: 2rem;

    font-weight: 600;
    line-height: 1.4;
    @include clamp(15, 24);
  }

  &__success-block-again-btn {
    display: block;

    @extend %fs-t2;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    border-bottom: dotted 0.1rem var(--text-color);

    transition: border-color 0.3s, color 0.3s ease;

    &:hover {
      color: var(--accent-color);
      border-bottom-color: var(--accent-color);
    }
  }
}