.form-filter {
  margin: 3rem 0;

  @include breakpoint(tablet) {
    margin: 2rem 0;
  }
  @include breakpoint(mobile) {
    margin: 1rem 0;
  }

  &__item {
    flex-shrink: 0;

    width:auto!important;
  }

  &__link {
    display: block;

    padding: 1.6rem;

    border: 0.1rem solid #C4C4C4;
    border-radius: 0 2rem;

    @extend %fs-t1;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;

    &:hover, &:focus {
      color: var(--accent-color);
    }

    &--active {
      background-color: black;
      color: white !important;

      &:hover, &:focus {
        color: var(--accent-color) !important;
      }
    }

    @include breakpoint(tablet) {
      padding: 1.2rem;
    }
    @include breakpoint(mobile) {
      padding: 0.8rem;
    }
  }
}