.form {

  &__inputs {
  }

  &__input {
    padding: 1rem 2rem;

    color: var(--text-color);
    @extend %fs-t3;

    &::placeholder {
      color: var(--back-color-2);
    }
  }

  &__submit {
    padding: 1rem 2rem;

    background-color: black;
    color: white;
  }

  &__policy {
    display: block;

    @extend %fs-s2;
    color: var(--back-color);
    text-align: center;
  }

  &__policy-link {
    display: inline;

    padding-bottom: 0.2rem;
    border-bottom: 0.1rem solid var(--back-color);
    transition: color 0.3s, border-bottom-color 0.3s ease;

    &:hover,
    &:focus {
      border-bottom-color: #FF2204;
    }
  }
}