.gallery-card {
  position: relative;

  display: block;

  border-radius: 0 2rem 0 2rem;
  
  overflow: hidden;

  &:hover {
    .gallery-card__name {
      color: var(--accent-color);
    }
  }

  &__image-wrapper {
    height: 42rem;
    margin-bottom: 2.4rem;

    overflow: hidden;

    @include breakpoint(mobile) {
      height: 32rem;
    }
    @include breakpoint(supersmall-mobile) {
      height: 24rem;
    }
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__text-container {
    position: absolute;
    left: 0;
    bottom: 0;

    padding: 2rem;
    max-width: 80%;
    border-radius: 0 2rem 0 2rem;
    
    background-color: white;
  }

  &__place {
    display: block;

    @extend %fs-t3;
    color: var(--back-color-2);
    transition: color 0.3s ease;
  }

  &__name {
    margin-bottom: 1.2rem;

    @extend %fs-h5;
    font-weight: 600;
    color: #171723;
    transition: color 0.3s ease;
  }
}