.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  padding-top: 2.3rem;
  padding-bottom: 2.3rem;

  color: var(--text-color);

  &--light {
    .header__telephone {
      color: var(--text-color) !important;
    }

    .header__write-to-us {
      color: var(--accent-color) !important;
    }
  }

  &__container {
    padding-left: var(--content-padding);
  }

  &__inner {
    display: flex;
  }

  &__navigation {
    display: flex;
    align-items: center;

    margin-right: 2rem;
    width: 65%;
  }

  &__logo-link {
    display: inline-block;

    color: inherit;
    @include defaultHoverEffect(0.8);
  }

  &__logo {
    display: block;

    width: 11.04rem;
    height: 4.56rem;

    object-fit: contain;
  }

  &__menu {
    @include breakpoint(tablet) {
      display: none;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.4rem;
    row-gap: 1rem;
  }

  &__list-item {
    
  }

  &__menu-link {
    @include clamp(12, 17);
    font-weight: 600;
  }

  &__contacts {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 35%;
    padding-right: var(--content-padding);
  }

  &__telephone {
    margin-right: 4rem;

    letter-spacing: 2%;
    font-weight: 700;
    @include clamp(12, 17);
    color: white !important;

    @include breakpoint (tablet) {
      display: none;
    }

    &:hover {
      color: var(--accent-color) !important;
    }
  }

  &__write-to-us {
    flex-shrink: 0;

    display: block;

    padding-bottom: 0.2rem;
    border-bottom: 0.1rem solid #FF2204;

    color: white !important;
    @extend %fs-t2;

    transition: color 0.3s, border-bottom-color 0.3s ease;

    &:hover {
      border-bottom-color: #FF2204;
      color: var(--accent-color) !important;
    }

    @include breakpoint (tablet) {
      display: none;
    }
  }

  &__burger {
    display: none;
    align-items: center;

    margin-right: 1rem;

    &:hover {
      .header__burger-label {
        color: var(--accent-color);
      }
    }

    @include breakpoint(tablet) {
      display: flex;
    }
  }
  &__burger-icon {
    margin-right: 0.8rem;
    width: 1.8rem;
    height: 0.4rem;

    fill: none;
    stroke: var(--accent-color);
  }
  &__burger-label {
    transition: color 0.3s ease;
  }

  &__telephone-mobile {
    display: none;
    align-items: center;
    justify-content: center;

    width: 3.6rem;
    height: 3.6rem;

    border-radius: 50%;
    border: 0.1rem solid #FFC800;

    &:hover {
      .header__telephone-mobile-icon {
        fill: var(--accent-color);
      }
    }

    @include breakpoint(tablet) {
      display: flex;
    }
  }

  &__telephone-mobile-icon {
    width: 1.9rem;
    height: 1.8rem;

    fill: var(--text-color);

    transition: fill 0.3s ease;
  }
}