.intro {
  padding-left: var(--content-padding);

  @include breakpoint(small-tablet) {
    padding-left: 0;
  }

  &__inner {
    display: flex;

    @include breakpoint(small-tablet) {
      flex-direction: column;
    }
  }

  &__content-slider {
    position: relative;

    width: 65%;

    @include breakpoint(small-tablet) {
      width: 100%;
    }

    &>.swiper-pagination-bullets {
      left: 0;
      bottom: 3.2rem;
      width: unset;

      @include breakpoint(small-tablet) {
        left: var(--content-padding);
        bottom: 2rem;
      }

      .swiper-pagination-bullet {
        margin-left: 0;
        margin-right: 1.2rem;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    .swiper-pagination-bullet {
      width: 2rem;
      height: 2rem;

      background-color: transparent;
      border: 0.2rem solid #b8b8b8;
    }
    
    .swiper-pagination-bullet-active {
      background-color: #FEC700;
      border-color: #FEC700;
    }

    .swiper-slide {
      opacity: 0;
      visibility: hidden;
      transform: scale(0);

      transition: opacity 0.3s, visibility 0.3s, transform 0.3s ease;
    }

    .swiper-slide.swiper-slide-active {
      opacity: 1;
      visibility: visible;
      transform: scale(1);

      .intro-slide__text {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }
    }
  }

  &__big-image-slider {
    width: 35%;

    overflow: hidden;

    @include breakpoint(small-tablet) {
      width: 100%;
    }
  }

  &__big-image-slider-wrapper {
    transition-delay: 0.5s;
  }

  &__slider-navigation {
    position: absolute;
    left: 0;
    top: 40%;
    z-index: 10;

    display: flex;
    justify-content: space-between;

    width: 100%;

    transform: translateY(-50%);

    pointer-events: none;

    @include breakpoint(small-tablet) {
      top: 45%;
    }
  }

  &__slider-btn {

    pointer-events: all;

    &_type {
      &_next {
        margin-right: 4rem;

        @include breakpoint(small-tablet) {
          margin-right: var(--content-padding);
        }
      }

      &_prev {
        @include breakpoint(small-tablet) {
          margin-left: var(--content-padding);
        }
      }
    }

    &:hover, &:focus {
      .intro__slider-btn-icon {
        fill: var(--accent-color);
      }
    }

    &.swiper-button-disabled {
      opacity: 0.1;
      cursor: default;
    }
  }

  &__slider-btn-icon {
    width: 2rem;
    height: 3.6rem;

    @include breakpoint(small-tablet) {
      width: 1.5rem;
      height: 2.7rem;
    }

    fill: var(--text-color);
    transition: fill 0.3s ease;
  }
}