.intro-slide {
  &__content-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;

    @include breakpoint(small-tablet) {
      padding-left: var(--content-padding);
      padding-right: var(--content-padding);
    }
  }

  &__image-container {
    flex-grow: 1;
    flex-shrink: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 9rem;
  }

  &__image-wrapper {
    position: relative;

    width: 50vh;
    height: 0;
    padding-bottom: 50vh;

    @include breakpoint(small-tablet) {
      width: 70%;
      padding-bottom: 70%;
    }

    @include breakpoint(mobile) {
      width: 60%;
      padding-bottom: 60%;
    }

    @include breakpoint(supersmall-mobile) {
      width: 50%;
      padding-bottom: 50%;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    object-fit: contain;
    object-position: center center;

    user-select: none;
  }

  &__image-label-container {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(50%, 0);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1.5rem;
    width: 14.3rem;
    height: 14.3rem;

    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @include breakpoint(tablet) {
      width: 12rem;
      height: 12rem;
    }
    @include breakpoint(small-tablet) {
      transform: translate(30%, 0);
    }

    &_theme {
      &_dark {
        .intro-slide__image-label {
          color: white;
          background-color: black;
          border-radius: 0 1.6rem 0 1.6rem;
          padding: 0.4rem 0.8rem;
        }
      }
    }
  }

  &__image-label {
    text-align: center;
    @include clamp(8, 12);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: calc(1em/20);
  }

  &__text {
    max-width: 60rem;
    margin-bottom: 8.3rem;

    opacity: 0;
    visibility: hidden;
    transform: translateX(10%);

    transition: opacity 0.3s 0.8s, visibility 0.3s 0.8s, transform 0.3s 0.8s ease;

    @include breakpoint(small-tablet) {
      margin-bottom: 6rem;
    }
  }

  &__title {
    margin-bottom: 2.4rem;

    @include clamp(18, 42);
    font-weight: 700;

    @include breakpoint(desktop) {
      margin-bottom: 1.6rem;
    }

    @include breakpoint(supersmall-mobile) {
      margin-bottom: 1.4rem;
    }
  }

  &__subtitle {
    display: block;

    @include clamp(14, 18);
    line-height: 1.5;
    color: var(--back-color-2);

    @include breakpoint(desktop) {
      line-height: 1.4;
    }

    @include breakpoint(supersmall-mobile) {
      line-height: 1.3;
    }
  }

  &__big-image-block {
    position: relative;
  }

  &__big-image {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    user-select: none;
  }

  &__link {
    position: absolute;
    bottom: 0;
    left: 0;

    padding: 3.2rem;

    background-color: #FBFBFB;
  }

  &__link-label {
    display: block;

    margin-bottom: 0.9rem;

    @extend %fs-t3;
    color: var(--back-color-2);
  }

  &__link-title-container {
    display: flex;
    align-items: center;
  }

  &__link-title {
    margin-right: 1.2rem;
    @extend %fs-h4;
    font-weight: 700;
  }

  &__link-icon {
    width: 0.9rem;
    height: 1.6rem;

    fill: var(--accent-color);
  }
}