.map-balloon {
  max-width: 28rem;
  padding: 1rem 0 1rem 1.8rem;

  font-family: 'RFDewiExtended', sans-serif;
  line-height: 1.1;

  &__logo {
    width: 8.6rem;
    height: 3.6rem;
    margin-bottom: 2.4rem;
  }

  &__name {
    margin-bottom: 2.4rem;

    font-weight: 600;
    @extend %fs-h5
  }

  &__address {
    display: block;

    margin-bottom: 2.4rem;

    font-weight: 700;
    @extend %fs-t2;
  }

  &__tel {
    display: flex;
    align-items: center;

    width: fit-content;
    margin-bottom: 1rem;
  }

  &__tel-icon {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0.8rem;

    fill: var(--accent-color);
  }

  &__tel-label {
    @extend %fs-h5;
    font-weight: 600;
  }

  &__working-time {
    display: block;

    @extend %fs-t2;
    color: #767676;
  }
}
